*{
    margin: 0px;
    padding: 0px;
}

.mi{
    font-family: 'Corinthia', cursive;
    font-size: 40px;
    font-weight: bold;
    /* padding-top: 30px; */
}

.mi p{
    font-family: "Montserrat", sans-serif;
    /* margin-bottom: -30px; */
}




/* .container{
    margin-top: 100px;
} */


